@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700');

:root{
    --beige: #FFE6BE;
    --pink: #FF0062;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--beige);
    font-family: "Poppins";
}

header{
    padding: 20px;
    position: absolute;
}

body{
    background-color: black;
}

.logo-container{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.fundo-logo{
    position: relative;
    z-index: 1;
}

.topo-logo{
    position: absolute;
    z-index: 2;
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.video-background{
    width: 100%;
    height: 100%;
    background-image: url(Images/Full_art1.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: teal;
}

.acessos-botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 280px;
    width: 30%;
    gap: 10px;
    height: 220px;
}

.acessos-botoes a{
    display: flex;
    width: 335px;
    height: 80px;
    gap: 10px;
    padding-bottom: 5px;
    background-image: url(Images/botao_base.png);
    background-size: 260px;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    filter: hue-rotate(0deg);
    transition: filter 0.3s ease-in-out; /*odiei isso, procurando outra forma de fazer (png branco)*/
}

.divisao-pai{
    position: relative;
}

.divisao{
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: -10px;
    background-image: url('Images/Line1.png');
    background-position: center;
    pointer-events: none;
}

.about-the-game{
    padding: 30px 100px 30px 100px;
}


.img-about-game{
    height: auto;
    width: 90%;
    background: radial-gradient(circle, #FF0062 0, #FFE6BE50 50%, transparent 57%);
}

.about-web{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
}

.about-web p{
    text-align: center;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    line-height: 1.6;
    font-size: large;
}

.galeria{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px;
}

.galeria-media-img{
    height: 200px;
    width: 400px;
}

/*HOVER EVENTS*/

.acessos-botoes a:hover{
    filter: hue-rotate(220deg);
}