@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700');

:root{
    --beige: #FFE6BE;
    --pink: #FF0062;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--beige);
    font-family: "Poppins";
}


body{
    background-color: black;
    overflow-x: hidden;
}

/* NAVBAR */

header{
    padding-left: 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-container{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.fundo-logo{
    position: relative;
    z-index: 1;
}

.topo-logo{
    position: absolute;
    z-index: 2;
}

.logo-container:hover .fundo-logo{
    filter: brightness(0) saturate(100%) invert(17%) sepia(96%) saturate(5000%) hue-rotate(320deg);
}

.options{
    display: flex;
    gap: 20px;
    height: 100px;
    width: 70%;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 14%, rgba(0, 0, 0, 1) 100%);
}

.options a{
    text-decoration: none;
    position: relative;
    font-size: large;
    font-weight: 500;
}

.options a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--pink);
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.options a:hover::after{
    width: 100%;
}

/* HERO */

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
}

.titulo_rangolithical{
    width: 100px;
}

.video-background{
    width: 100%;
    height: 100%;
}

.bg-video{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.6);
}

.acessos-botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 420px;
    width: 30%;
    gap: 20px;
}

.acessos-botoes a{
    display: flex;
    width: 335px;
    height: 80px;
    gap: 10px;
    padding-bottom: 5px;
    background-image: url(Images/botao_base.png);
    background-size: 260px;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--beige);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}

.acessos-botoes a:hover{
    transform: scale(1.05) rotate(-2deg);
    filter: brightness(1.2) hue-rotate(-145deg);
}

.acessos-botoes a:hover::after{
    opacity: 0.6;
}

/* DIVISOR */

.divisao-pai{
    position: relative;
}

.divisao{
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: -10px;
    background-image: url('Images/Line1.png');
    background-position: center;
    pointer-events: none;
}

.about-the-game{
    padding: 30px 100px 30px 100px;
}


.img-about-game{
    height: auto;
    width: 90%;
    filter: drop-shadow(0 0 20px rgba(255,0,98,0.5));
}

.about-web{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
    align-items: center;
}

.about-web p{
    text-align: center;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    line-height: 1.6;
    font-size: large;
    /*ainda vou justificar o texto, calma juan*/
}

.media{
    padding: 30px 100px 30px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px;
    justify-content: center;
    padding-bottom: 50px;
}

.galeria-media-img{
    height: auto;
    width: 400px;
    box-shadow: 0 0 20px rgba(255,0,98,0.5);
}


.presskit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 80px;
    background-image: url(Images/botao_base.png);
    background-size: 260px;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    font-size: x-large;
    font-weight: 700;
}


.presskit:hover{
    transform: scale(1.05) rotate(-2deg);
    filter: brightness(1.2) hue-rotate(-145deg);
}

.botoes-footer a{
    text-decoration: none;
}